mixin slide(names, slideClasses)
  if names
    section(class=names+' '+slideClasses, data-bespoke-backdrop='backdrop ' + names.split(' ').map(function(name) { return 'backdrop--' + name; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Innovating Democracy with Java EE and Open Source 

  link(rel='stylesheet', type='text/css', href='build/build.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

  body

    article

      +slide('title')
        h1 <span class='important'>Secrets</span> are secrets. Please <span class='important'>maintain</span> them as <span class='important'>secrets</span>.

      +slide
        img.avatar(src='images/profile.jpg')
        h4 @alexsotob - lordofthejars.com
        img.cloudbees(src='images/cloudbees.png')
        img.logos(src='images/logos.png')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide
        div.images
          img.side-by-side(src='images/dzone1.png')
          img.side-by-side(src='images/aia.jpg')
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide('adarise')
        h1 Questions
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide('alexband')
        .image-caption
          h2 Who <span class='important'>Encrypt</span> Passwords in Resource Files?
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        aside(role='note') Database, JMS, JWT, it is important
      
      +slide  
        h2 Apache TomEE Resources
        pre.small.language-xml
          code.
            &lt;Resource id=”myds” type=”DataSource”&gt;
              JdbcDriver = org.hsqldb.jdbc.JDBCDriver
              JdbcUrl = jdbc:hsqldb:mem:my-datasource
              Username = SA
              Password = SA
            &lt;/Resource&gt;
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide  
        h2 Apache TomEE Resources
        pre.small.language-xml
          code.
            &lt;Resource id=”myds” type=”DataSource”&gt;
              JdbcDriver = org.hsqldb.jdbc.JDBCDriver
              JdbcUrl = jdbc:hsqldb:mem:my-datasource
              Username = SA
              Password = xMH5uM1V9vQzVUv5LG7YLA==
              PasswordCipher = AES
            &lt;/Resource&gt;
            &lt;Resource id=”myresource” class-name="org.superbiz.VaultGateway"&gt;
              //.....
              VaultPassword = cipher:AES:xMH5uM1V9vQzVUv5LG7YLA==
            &lt;/Resource&gt;
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide  
        h2 Implementation
        pre.small.language-javascript
          code.
            public AESPasswordCipher() {
              this.key = readKeyFromDisk();
              this.secretKey = new SecretKeySpec(key, "AES");
            }
            
            public String decrypt(char[] chars) {
              Cipher cipher = Cipher.getInstance("AES");
              cipher.init(Cipher.DECRYPT_MODE, secretKey);

              byte[] raw = Base64.getDecoder().decode(toByteArray(chars));
              byte[] stringBytes = cipher.doFinal(raw);
              String clearText = new String(stringBytes, "UTF8");
              return clearText;
            }

            public char[] encrypt(String s) {}
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide('chicken')
        h2.image-caption <span class='important'>Chicken-Egg</span> Problem
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        aside(role='note') Now we don't put passwords in clear but we put the key
      
      +slide('monolith')
        h2.image-caption <span class='important'>Monolith</span> Application
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        aside(role='note') How to get the secrets , how operators put the secret, how do we control access to the secret. It is easy you can delete the file or prompt
        
      +slide('adaoh')
        h2.image-caption <span class='important'>MicroServices</span>?
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        aside(role='note') Spread the problem (decentralizd secrets), manual steps not good, works in services
        
      +slide('vaulth')
        h1 <b>A tool for <span class='important'>managing secrets</span></b>
        h3 https://vaultproject.io/
        
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        aside(role='note') Vault is a tool for securely accessing secrets. A secret is sensitive information. Secret management as a service, REST
      
      +slide
        h2.underline Vault Features
        ul.lists
          li Secure Secret Storage
          li Dynamic Secrets
          li Data Encryption
          li Leasing, Renewing, Revocation
          li Auditing
          li ACL
          li Multiple Authentication Methods
          li.fa.fa-heart &nbsp; REST API
          
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        
        aside(role='note') inmem, disk, etcd, consul - generate secrets on-demand (DB, X.509 certificates)- Vault can encrypt and decrypt data without storing it security teams - User/Machine oriented auth
      
      +slide('silos')
        h2.image-caption <span class='important'>Secure</span> Secret Storage
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
          
      +slide('engine')
        h2 <b>Let's see in Action</b>
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars

      +slide('ant')
        h2.image-caption <span class='important'>Microservices</span> approach
        aside(role='note') But token auth is the same as before you need to store somewhere
      
      +slide('keys')
        h1 <span class='important'>APPID</span> Auth

      +slide
        h2.underline App ID
        ul.lists
          li Random Unique Chunk
          li Generated by Operator
          li Stored in Configuration Management
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        aside(role='note') UUID, generated by Jenkins
          
      +slide
        h2.underline User ID
        ul.lists
          li Unique to Instance
          li Generated by Cloud Init Script
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        aside(role='note') Intrinsic properties IP, MAC, HOSTNAME, HASH of all

            
      +slide('appid')

      +slide
        h2 Each Service Instance
        h3 login 
        h2 with Tuple <br /> <span class='important'>{AppID, UserID}</span>
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
          
      +slide('engine')
        h2 Let's see in Action
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
      +slide('whale')
        h2.image-caption Example with <span class='important'>Docker</docker>
     
      +slide
        img.schemas(src='images/dockervault.png')
     
      +slide('ending')
        h1 Let's wind <br/> down
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        aside(role='note') Only first taste go to webpage
     
      +slide('infra')
        h2.image-caption <span class='important'>Vault</span> is a <span class='important'>Service</span>
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
        aside(role='note') Need to be deployed, HA, monitor, ...
      
      +slide('fence')
        h2.image-caption There is <span class='important'>NO</span> Silver Bullet
      
      +slide
        img.avatar(src='images/profile.jpg')
        br
        a(href='http://github.com/lordofthejars/vault_devoxx', style='border:none')
          i.fa.fa-github
          h3 http://github.com/lordofthejars/vault_devoxx
          i.fa.fa-envelope
          h3 asotobu@gmail.com
        div.footer
          i.fa.fa-twitter &nbsp;alexsotob&nbsp;
          i.fa.fa-github &nbsp;lordofthejars
      
    script(src='build/build.js')
